---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Mucheke Church of Christ.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: 'mailto:munashenjanji45@gmail.com',
        target: '_blank',
        icon: 'tabler:phone',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Welcome to the <span class="hidden xl:inline">Mucheke Church of Christ</span>
      <span class="text-accent dark:text-white highlight">Community of Faith</span>
      - Connecting Lives Through Christ
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Mucheke Church of Christ</span> is a welcoming community dedicated to spreading the love
        of Christ and supporting one another in faith.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Join Us: A Community of Faith.</span>
      Ideal for Worship Services, Community Events, Bible Studies, and Spiritual Growth.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->
  <Features
    id="features"
    tagline="Our Values"
    title="What You Gain with Mucheke Church of Christ"
    subtitle="A vibrant community dedicated to spiritual growth, fellowship, and service."
    items={[
      {
        title: 'Faith-Focused Programs',
        description: 'Engaging programs that nurture spiritual growth and deepen understanding of the Scriptures.',
        icon: 'tabler:book',
      },
      {
        title: 'Community Engagement',
        description: 'Opportunities to connect with others through events, outreach, and service projects.',
        icon: 'tabler:friends',
      },
      {
        title: 'Supportive Fellowship',
        description:
          'A warm, welcoming environment where everyone can find support and encouragement in their faith journey.',
        icon: 'tabler:users-group',
      },
      {
        title: 'Worship and Prayer',
        description: 'Regular worship services and prayer gatherings that foster a deeper connection with God.',
        icon: 'tabler:heart',
      },
      {
        title: 'Educational Resources',
        description: 'Access to Bible studies, workshops, and resources to help you grow in faith and knowledge.',
        icon: 'tabler:chalkboard',
      },
      {
        title: 'Open to All',
        description:
          'A church community that welcomes everyone, regardless of background, to join us in faith and fellowship.',
        icon: 'tabler:globe',
      },
    ]}
  />
  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="About Us"
    title="Mucheke Church of Christ: Where Community Meets Faith!"
    items={[
      {
        title: 'Rooted in Scripture',
        description: 'Drawing inspiration and guidance from the Bible to nurture spiritual growth and understanding.',
      },
      {
        title: 'Empowered by Fellowship',
        description:
          'Creating a supportive environment where church members uplift one another through love and service.',
      },
      {
        title: 'Inclusive Community',
        description:
          'Welcoming all individuals, fostering a sense of belonging and shared purpose in our faith journey.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Community Gathering',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building a Faithful Community</h3>
      Join us in fostering love, support, and spiritual growth in our lives and the community.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Strong Community Support',
        description: `Experience a welcoming environment where every member is valued, and support is always available, helping you grow in faith.`,
      },
      {
        title: 'Diverse Activities and Programs',
        description:
          'Engage in a variety of activities that cater to all ages, fostering connection and spiritual growth within the church community.',
      },
      {
        title: 'Accessible Worship Services',
        description:
          'Join us for inclusive worship services that accommodate everyone, ensuring a meaningful and uplifting experience for all attendees.',
      },
      {
        title: 'Opportunities for Service',
        description:
          'Get involved in outreach and service projects that make a positive impact in our community while living out our faith in action.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Community Activities',
    }}
  >
    <Fragment slot="content">Ensure your faith journey is supported and enriched.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Engaging Worship Experiences',
        description:
          'Immerse yourself in dynamic and interactive worship services that captivate and inspire, encouraging a deeper connection with faith.',
      },
      {
        title: 'Ongoing Spiritual Growth',
        description:
          'Participate in regular Bible studies and fellowship opportunities to continually deepen your understanding and relationship with God.',
      },
      {
        title: 'Efficient Community Outreach',
        description:
          'Join our initiatives that make a difference in the community, allowing you to serve effectively and impact lives positively.',
      },
      {
        title: 'Supportive Church Family',
        description: `Become part of a loving church community that offers support, resources, and fellowship, ensuring you never walk your faith journey alone.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Community Engagement',
    }}
  >
    <Fragment slot="content">Designed to nurture faith and foster community.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!-- Steps Widget ****************** -->

  <Steps
    title="Start your journey of faith with Mucheke Church of Christ."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Join Us</span>',
        description:
          "Visit our church for a warm welcome! Experience our community and see how we worship together. It's the first step in building lasting connections.",
        icon: 'tabler:users-group',
      },
      {
        title: 'Step 2: <span class="font-medium">Get Involved</span>',
        description:
          "Participate in our various programs and activities. Engage with groups that resonate with you, whether it's Bible study, youth programs, or outreach efforts.",
        icon: 'tabler:activity',
      },
      {
        title: 'Step 3: <span class="font-medium">Grow in Faith</span>',
        description:
          'Deepen your spiritual journey through prayer, study, and fellowship. Discover resources and support that help you strengthen your relationship with God.',
        icon: 'tabler:book',
      },
      {
        title: 'Ready to Serve!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps to Faith',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Essential Components for Our Church Website"
    subtitle="Core elements to effectively communicate and engage with our community"
    tagline="Key Features"
    items={[
      {
        title: 'Headers',
        description: 'Guide visitors through our site with clear headers that showcase our mission and values.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          'Make a powerful first impression with a Hero section that highlights our core message and community spirit.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Call-to-Action',
        description:
          'Encourage engagement with clear calls-to-action, inviting visitors to join us for services or events.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Content',
        description:
          'Share inspiring messages, sermon notes, and community updates that resonate with our congregation.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Contact',
        description:
          'Provide a quick and easy way for visitors to reach out with questions or requests for prayer support.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Testimonials',
        description: 'Showcase stories and feedback from members to build trust and community spirit.',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Explore Our Blog for Inspiration and Insights"
    information={`Dive into our blog to discover articles that enrich your faith and knowledge. 
                  Each post is designed to guide you in your spiritual journey and keep you informed about church activities, 
                  events, and teachings. We aim to create a community of learning and support. Join us on this journey of faith and growth!`}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Find answers to common questions about our church, beliefs, and activities."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Mucheke Church of Christ?',
        description:
          'At Mucheke Church of Christ, we are dedicated to spreading the love of God through service, fellowship, and faith. We strive to create a welcoming community where everyone feels valued and supported.',
      },
      {
        title: 'What do I need to start?',
        description:
          'Joining our community is simple! Attend our Sunday services, participate in our Bible study sessions, and get involved in our various community outreach programs. Your presence and participation are all you need to begin your spiritual journey with us.',
      },
      {
        title: 'How to get involved in church activities?',
        description:
          'We offer a range of activities for all age groups, including youth programs, women’s and men’s fellowship, and community service projects. Check our website or contact our church office for more information on how you can get involved.',
      },
      {
        title: "What's our mission?",
        description:
          "Our mission is to foster a strong, faith-based community through worship, education, and service. We aim to live out Christ's teachings by serving others, spreading the gospel, and growing together in faith.",
      },
      {
        title: 'What services do we offer?',
        description:
          'We offer Sunday worship services, Bible study sessions, prayer meetings, and community outreach programs. Our services are designed to help you grow in faith and connect with others in meaningful ways.',
      },
      {
        title: 'How can I support the church?',
        description:
          'Your support can make a significant impact. You can contribute through volunteering, participating in our activities, and offering financial support. Every bit helps us to continue our mission and serve our community better.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Members', amount: '103' },
      { title: 'Weekly Services', amount: '5' },
      { title: 'Community Outreach Events', amount: '20' },
      { title: 'Years of Service', amount: '50+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Join Us',
        href: 'https://muchekechurchofchrist.org/join',
        target: '_blank',
        icon: 'tabler:arrow-right',
      },
    ]}
  >
    <Fragment slot="title"> Welcome to Mucheke Church of Christ </Fragment>
    <Fragment slot="subtitle">
      Discover a community of faith, hope, and love. Click below to learn more about joining our church family.
    </Fragment>
  </CallToAction>
</Layout>
