---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Join Us"
    title="Experience the Love and Community at Mucheke Church of Christ"
    subtitle="Discover our range of services and programs designed to help you grow in faith, connect with others, and make a positive impact in our community. From worship services to community outreach, we invite you to be a part of our family."
    actions={[{ variant: 'primary', target: '_self', text: 'Learn More', href: '' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Mucheke Church of Christ Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Explore Our Church Services"
    subtitle="Discover our diverse services designed to deepen your faith and connect you with our community."
    columns={3}
    items={[
      {
        title: 'Sunday Worship',
        description:
          'Join us for uplifting worship services every Sunday where we come together to praise, worship, and experience the presence of God.',
        icon: 'tabler:building',
      },
      {
        title: 'Bible Study',
        description:
          'Deepen your understanding of the Scriptures with our weekly Bible study sessions. All are welcome to join us as we explore God’s word together.',
        icon: 'tabler:book',
      },
      {
        title: 'Prayer Meetings',
        description:
          'Connect with others in prayer during our regular prayer meetings. Seek God’s guidance and strength in a supportive environment.',
        icon: 'tabler:activity-heartbeat',
      },
      {
        title: 'Youth Programs',
        description:
          'Our youth programs are designed to nurture and support the spiritual growth of our younger members with engaging activities and discussions.',
        icon: 'tabler:users',
      },
      {
        title: 'Community Outreach',
        description:
          'Participate in our outreach programs to make a positive impact and share God’s love with those in need in our community.',
        icon: 'tabler:heart',
      },
      {
        title: 'Support Groups',
        description:
          'Join our support groups for a safe space to share experiences and find comfort and strength through faith.',
        icon: 'tabler:affiliate',
      },
      {
        title: 'Special Services',
        description:
          'Experience special services for holidays and significant religious events, offering unique opportunities for worship and celebration.',
        icon: 'tabler:sun',
      },
      {
        title: 'Counseling Services',
        description:
          'Receive spiritual and emotional support through our counseling services, providing guidance and comfort in times of need.',
        icon: 'tabler:headset',
      },
      {
        title: 'Volunteer Opportunities',
        description:
          'Get involved and make a difference through various volunteer opportunities within our church and community.',
        icon: 'tabler:heart',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Sunday Worship',
        description:
          'Join us every Sunday at 9:00 AM for a time of worship and fellowship. Our Sunday service is a time to come together as a community and praise God.',
        icon: 'tabler:building',
      },
      {
        title: 'Midweek Bible Study',
        description:
          'Dive deeper into the Word with our Midweek Bible Study every Wednesday at 6:00 PM. It’s a great opportunity to grow in your understanding and faith.',
        icon: 'tabler:book',
      },
      {
        title: 'Prayer Meetings',
        description:
          'Connect in prayer with others every Friday at 7:00 PM. Bring your prayer requests and join us as we seek God’s guidance and strength together.',
        icon: 'tabler:activity-heartbeat',
      },
      {
        title: 'Youth Fellowship',
        description:
          'Our Youth Fellowship meets every Saturday at 3:00 PM. It’s a vibrant gathering for our younger members to engage in fun activities and spiritual growth.',
        icon: 'tabler:users',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Church Service Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Service Times</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Masvingo Christian College',
        description:
          'Providing quality Christian education from primary to secondary levels, fostering academic excellence and spiritual growth.',
        icon: 'tabler:school',
      },
      {
        title: 'Community Health Services',
        description:
          'Offering free medical camps, health education, and support services to promote the well-being of our community.',
        icon: 'tabler:activity',
      },
      {
        title: 'Charitable Outreach',
        description:
          'Engaging in various outreach programs, including food drives, clothing donations, and support for local shelters.',
        icon: 'tabler:heart',
      },
      {
        title: 'Counseling and Support',
        description:
          'Providing spiritual and emotional support through counseling services for individuals and families in need.',
        icon: 'tabler:headset',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Church Services Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Our Services</h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Words from members"
    testimonials={[
      {
        testimonial: `Maitiro emuungano uyu akandibatsira zvakanyanya kuti ndiwedzere kubatana naMwari uye ndinzwe rugare mumweya wangu.`,
        name: 'Tendai Chikasha',
        job: 'Mukadzi',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Tendai Chikasha Image',
        },
      },
      {
        testimonial: `Zvinonakidza kushumira munharaunda uye kuona kubatsira kuchiita mutsauko muhupenyu hwevanhu.`,
        name: 'Farai Moyo',
        job: 'Murume',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Farai Moyo Image',
        },
      },
      {
        testimonial: `Ndinotenda Mucheke Church of Christ nekundibatsira kukura mukutenda uye kuva chikamu chenharaunda inotsigirana.`,
        name: 'Chipo Ncube',
        job: 'Mukadzi',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Chipo Ncube Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://muchekechurchofchrist.org/testimonials',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Join Us',
        href: '#',
      },
    ]}
    title="Become Part of Our Faith Community"
    subtitle="Experience the warmth and support of a community dedicated to worship, service, and spiritual growth. Click below to learn more about our services and activities."
  >
    <Fragment slot="content">
      <h3 class="text-xl font-bold tracking-tight dark:text-white sm:text-2xl mb-2">
        Get Involved with Mucheke Church of Christ
      </h3>
      <p class="text-muted dark:text-slate-400">
        We invite you to join us in our mission to spread love, faith, and hope. Whether you're looking for a place to
        worship, opportunities to serve, or ways to connect with others, Mucheke Church of Christ welcomes you with open
        arms. Click below to start your journey with us.
      </p>
    </Fragment>
  </CallToAction>
</Layout>
